<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>edit</key>
    <string>edit.glif</string>
    <key>toggle</key>
    <string>toggle.glif</string>
    <key>toggle_old</key>
    <string>toggle_old.glif</string>
  </dict>
</plist>
