<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>addToMenu</key>
    <array>
        <dict>
            <key>path</key>
            <string>contextToggle.py</string>
            <key>preferredName</key>
            <string>Toggle Context</string>
            <key>shortKey</key>
            <string>T</string>
        </dict>
    </array>
    <key>developer</key>
    <string>Mathieu Reguer</string>
    <key>developerURL</key>
    <string>www.mathieureguer.com</string>
    <key>html</key>
    <false/>
    <key>launchAtStartUp</key>
    <integer>1</integer>
    <key>mainScript</key>
    <string>contextTool.py</string>
    <key>name</key>
    <string>ConTextEditor</string>
    <key>requiresVersionMajor</key>
    <string>4</string>
    <key>requiresVersionMinor</key>
    <string>0</string>
    <key>timeStamp</key>
    <real>1650990063.776439</real>
    <key>version</key>
    <string>0.2</string>
</dict>
</plist>
